.cssBackground {
  background-image: linear-gradient(
      rgb(224, 225, 221, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to right, rgb(224, 225, 221, 0.1) 1px, transparent 1px);
  background-size: 25px 25px;
  background-color: #333333;
}
